<html>
	<head>		
<!-- 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
		<script src="static/jscripts.js"></script>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/header_style.css">
		<link rel="stylesheet" href="static/general_style.css">
		<title>Speech Recording Platform</title>		 
	</head>		
	
	<body>
		<div class="topnav" id="myTopnav">				
			<ul>
				<li><a href="/">Home</a></li>
<!-- 					<li><a id="vallog">&#9919; Login</a></li>
				<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	 -->
			</ul>	
		</div>
		<form enctype=multipart/form-data class="main_container" method="post">	
			<div class="title">Downloads</div>	
				<table>
					<tr>     
					<th>Speech task</th>
					<th>Files</th>
					</tr>
					<tr>
						<td>All modules</td>
						<td><a  href="recordings/" download="recordings">Download</a></td>
					</tr>
					<tr>
						<td>Einzelwörter benennen: PLAKKS</td>
						<td><a  href="recordings/" download="recordings">Download</a></td>
					</tr>
					<tr>
						<td>Sätze vorlesen: Rhino-Sätze</td>
						<td><a  href="recordings/" download="recordings">Download</a></td>
					</tr>

					<tr>
						<td>Text vorlesen: Nordwind und Sonne</td>
						<td><a  href="recordings/" download="recordings">Download</a></td>
					</tr>

					<tr>
						<td>Freies erzählen: Cookie-Theft-Picture</td>
						<td><a  href="recordings/" download="recordings">Download</a></td>
					</tr>

					<tr>
						<td>Diadochokinese: PATAKA</td>
						<td><a  href="recordings/" download="recordings">Download</a></td>
					</tr>
				</table>
				<br>	
		</form>
	</body>
</html>